{% extends 'base.html.twig' %}
{% block content %}
    <h1>Blog</h1>
    <div class="blog-container">
        <aside class="sidebar">
            <h2>Categorias</h2>
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
        </aside>
        <section class="content">
            <h2>Conteúdo Principal</h2>
            <p>Lorem ipsum dolor sit amet...</p>
        </section>
    </div>
{% endblock %}
