{% extends 'base.html.twig' %}
{% block content %}
    <div class="section">
        <div class="text">
            <h1>Bem-vindo à Home</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="image">
            <img src="{{ asset('images/ilustrativa.jpg') }}" alt="Imagem ilustrativa" class="home-image">
        </div>
    </div>
{% endblock %}